body {
	background-color: black;
	width: 820px;
	margin: 0 auto;
}

h1 {
	font-family: Poppins, sans-serif, monospace;
	color: white;
	font-size: 5rem;
	font-weight: 400;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	color: lightgrey;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	padding-bottom: 24px;
	letter-spacing: .2rem;
}

.letter {
	transition: color 1000ms;
}

.button {
	cursor: pointer;
	background-color: crimson;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	width: 100px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	margin: 10px;
	margin-bottom: 40px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#game div {
	border: 1px solid white;
	border-radius: 10px;
	width: 150px;
	height: 100px;
	margin: 10px;
	padding: 14px;
	display: inline-block;
	justify-content: center;
	align-items: center;
}
